.input {
  background-color: var(--gray-900);
  color: var(--text-default);
  border: none;
  border-bottom: 1px solid var(--primary-dark);
  padding: 1.2rem;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-light);
}

.input::placeholder {
  font-style: italic;
  text-align: center;
  color: var(--gray-400);
}

.input:disabled {
  border-bottom: 1px solid var(--disabled);
  color: var(--text-disabled);
}