.time {
  font-size: clamp(7rem, 15vw, 15rem);
  font-weight: 700;
}

.taskContainer {
  font-size: clamp(1rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.taskContainer input,
button {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 1.4rem;
}